body {
    font-family: 'Playfair Display', serif;
    color: #000;
}

.seccion1{
    width: 100%;
    text-align: center;
}

.seccion1>h1{
    padding: 20px 0;
}

.seccion1>p{
    font-size: 20px;
    margin: 20px 100px;
}

.seccion2{
    width: 100%;
    text-align: center;
}

.seccion2> h1{
    margin-top: 80px;
    margin-bottom: 80px;
}

.seccion2>.texto > p{
    font-size: 20px;
    margin-left: 50px;
}


.img{
    width: 400px;
    height: auto;
    position: absolute;
    transition: all 1s;
    cursor: pointer;
}

.cambio1{
    right: 17%;
    top: 70%;
    z-index: 2;
}

.cambio2{
    right: 10%;
    top: 76%;
    z-index: 1;
}

.cambio3{
    right: 5%;
}


@media (max-width: 576px) { 
    .seccion1>h1{
        font-size: 20px;
    }

    .seccion1>p{
        margin: 20px 10px;
        font-size: 15px;
    }

    .seccion2>h1{
        margin: 20px 0;
        font-size: 20px;
    }

    .seccion2>.texto > p{
        font-size: 15px;
        margin: 0px 0px;
    }

    .seccion2>.texto{
        margin-left: 10px;
        margin-bottom: 150px;
    }

    .images{
        margin: 0 0;
        height: 300px;
    }
    
    .img{
        width: 250px;
        position: relative;
        display: block;
    }

    .cambio1:nth-child(1){
        top: 0%;
        right: -10%;
    }

    .cambio1:nth-child(2){
        top: -193.33px;
        right: -10%;
    }

    .cambio1:nth-child(3){
        top: calc(-193.33px * 2);
        right: -10%;
    }

    .cambio2:nth-child(1){
        top: -45px;
        right: -18%;
    }

    .cambio2:nth-child(2){
        top: -145px;
        right: -18%;
    }

    .cambio2:nth-child(3){
        top: calc((-193.33px * 2) - 45px);
        right: -18%;
    }

    .cambio3:nth-child(1){
        top: 0px;
        right: -25%;
    }

    .cambio3:nth-child(2){
        top: -193.33px;
        right: -25%;
    }

    .cambio3:nth-child(3){
        bottom: calc(193.33px * 2);
        right: -25%;
    }
}

@media (min-width: 576px) and (max-width: 768px) { 
    .seccion1>p{
        margin: 40px 10px;
    }

    .seccion2>.texto > p{
        margin: 0 0 0 14px;
    }

    .seccion2>.texto{
        margin-bottom: 150px;
    }

    .images{
        margin: 0;
        height: 400px;
    }
    
    .img{
        width: 350px;
        position: relative;
        display: block;
    }

    .cambio1:nth-child(1){
        top: 0%;
        right: -15%;
    }

    .cambio1:nth-child(2){
        top: -233.33px;
        right: -15%;
    }

    .cambio1:nth-child(3){
        top: calc(-233.33px * 2);
        right: -15%;
    }

    .cambio2:nth-child(1){
        top: -45px;
        right: -25%;
    }

    .cambio2:nth-child(2){
        top: -145px;
        right: -25%;
    }

    .cambio2:nth-child(3){
        top: calc((-223.33px * 2) - 45px);
        right: -25%;
    }

    .cambio3:nth-child(1){
        top: 0px;
        right: -35%;
    }

    .cambio3:nth-child(2){
        top: -223.33px;
        right: -35%;
    }

    .cambio3:nth-child(3){
        bottom: calc(223.33px * 2);
        right: -35%;
    }
}

@media (min-width: 768px) and (max-width: 992px){ 
    .seccion1>p{
        margin: 40px 10px;
    }

    .seccion2>.texto > p{
        margin: 0 0 0 14px;
    }

    .seccion2>.texto{
        margin-bottom: 150px;
    }

    .images{
        margin: 0;
        height: 400px;
    }
    
    .img{
        width: 350px;
        position: relative;
        display: block;
    }

    .cambio1:nth-child(1){
        top: 0%;
        right: -15%;
    }

    .cambio1:nth-child(2){
        top: -233.33px;
        right: -15%;
    }

    .cambio1:nth-child(3){
        top: calc(-233.33px * 2);
        right: -15%;
    }

    .cambio2:nth-child(1){
        top: -45px;
        right: -25%;
    }

    .cambio2:nth-child(2){
        top: -145px;
        right: -25%;
    }

    .cambio2:nth-child(3){
        top: calc((-223.33px * 2) - 45px);
        right: -25%;
    }

    .cambio3:nth-child(1){
        top: 0px;
        right: -35%;
    }

    .cambio3:nth-child(2){
        top: -223.33px;
        right: -35%;
    }

    .cambio3:nth-child(3){
        bottom: calc(223.33px * 2);
        right: -35%;
    }
}

@media (min-width: 992px) and (max-width: 1200px){ 
    .cambio1{
        right: 17%;
        top: 700px;
        z-index: 2;
    }
    
    .cambio2{
        right: 10%;
        top: 760px;
        z-index: 1;
    }
    
    .cambio3{
        right: 5%;
    }
}